---
import Layout from "../layouts/Layout.astro";

import Educación from "../components/Educación.astro";
import Experience from "../components/Experience.astro";
import Habilidades from "../components/Habilidades.astro";
import Resumen from "../components/Resumen.astro";
---

<Layout title="Portfolio Mateo">
	<main>
		<body>
			<div class="container">
				<header>
					<img src="../foto-rostro.jpg" alt="Profile Picture" class="profile-picture">
					<h1>Mateo Buján Varela</h1>
					<p>Rúa Travesa, 6-8, 2ºA, Ferrol</p>
					<p>Email: mbujvar.appventurers@gmail.com</p>
					<nav>
						<ul>
							<li><a href="sobre mí.html">Sobre mí</a></li>
							<li><a href="proyectos.html">Proyectos</a></li>
							<li><a href="contacto.html">Contacto</a></li>
						</ul>
					</nav>
				</header>

				<div class="section">
					<h2>Resumen</h2>
					<p>
						Apasionado profesor de historia con una sólida formación
						académica y un enfoque innovador en la enseñanza. Con
						experiencia práctica en la creación de programas
						educativos dinámicos que inspiran a los estudiantes a
						explorar el pasado y comprender su relevancia en el
						mundo actual. Habilidades demostradas en el uso de
						tecnología educativa y en el fomento de un ambiente de
						aprendizaje inclusivo y participativo.
					</p>
				</div>

				<div class="section">
					<h2>Educación</h2>
					<h3>Educación formal</h3>
					<p>
						Historiador
					</p>
					<h3>Cursos</h3>
					<p>Cursos y así </p>
				</div>

				<div class="section">
					<h2>Experiencia</h2>
					<h3>Nombre trabajo, 2020-2021</h3>
					<p>
						Descripción
					</p>
					<h3>Nombre trabajo, 2020-2021</h3>
					<p>
						Descripción
					</p>
				</div>

				<div class="section">
					<h2>Habilidades</h2>
					<p>- Asertivo</p>
					<p>- Emprendedor</p>
					<p>- Colaborativo</p>
				</div>

				<div class="section">
					<h2>Referencias</h2>
					<p>Dadas según petición</p>
				</div>
		
			</div>
		</body>
	</main>
</Layout>

<style>
	img {
		object-fit: cover;
		object-position: top;
	}
</style>
